<%- include('./partials/Header.ejs') %>
<%- include('./partials/Navbar.ejs') %>
    <h1 class="text text-primary">Index Page</h1>
    <h1>Name : <%= user.name %>
    </h1>
<%- include('./partials/Footer.ejs') %>