<%- include('./partials/Header.ejs') %>
    <%- include('./partials/Navbar.ejs') %>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 offset-3">
                    <form method="POST" action="/user/reg" class="form-control p-4 shadow-lg mt-5">
                        <div>
                            <label for="exampleInputName" class="form-label">Name</label>
                            <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp"name="name">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" name="email">
                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a href="/user/login" class="btn btn-info">LogIn</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <%- include('./partials/Footer.ejs') %>